{{ define "index-nav-class" }}
  active
{{ end }}

{{ define "content" }}
  {{ template "session" . }}
  <p>
    <button id="loading-button" class="btn btn-info">
      <i class="fa fa-spinner fa-pulse"></i>
      Loading
    </button>
    <button id="load-button" class="btn btn-primary">
      <i class="fa fa-plus"></i>
      Load into player
    </button>
    <button id="copy-button" class="btn btn-secondary">
      <i class="fa fa-copy"></i>
      Show what's loaded
    </button>
    <button id="example-button" class="btn btn-secondary">
      Set example
    </button>
  </p>
  {{ template "media-forms" . }}
{{ end }}
