{{ define "dev-nav-class" }}
  active
{{ end }}

{{ define "content" }}
  <p></p>
  <p>
    You can link to this site and automatically fill the proposed media URLs by including a fragment in the link. See <a href="/about/">about</a> for reasons why you would want to do this. A fragment is the part after a <code>#</code> in URL. For example <a href="/#title=Title&subtitle=Subtitle&poster=http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/images/BigBuckBunny.jpg&content=http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4"><code>https://chromecast.link#title=Title&subtitle=Subtitle&poster=http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/images/BigBuckBunny.jpg&content=http://download.blender.org/peach/bigbuckbunny_movies/BigBuckBunny_320x180.mp4</code></a>
  </p>
  <p>The valid fragment parameters are:</p>
  <dl>
    <dt>content</dt>
    <dd>URL of content to send to the Chromecast. Must be a supported format like MP4, WebM, Ogg etc.</dd>
    <dt>title</dt>
    <dd>This is the title to show on the loading and pause screens.</dd>
    <dt>poster</dt>
    <dd>A thumbnail image to show that represents the content.</dd>
    <dt>subtitle</dt>
    <dd>Smaller text that appears below the title.</dd>
    <dt>subtitles</dt>
    <dd>URL for subtitles for the content. I think it must be WebVTT format.</dd>
  </dl>
{{ end }}
