{{ define "content" }}
{{ end }}

{{ define "media" }}
  <div id="media" class="card">
    <div class="card-block">
      <h5 class="card-title">Media</h5>
      <button id="load-button" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        Load
      </button>
      <button id="copy-button" class="btn btn-secondary">
        <i class="fa fa-copy"></i>
        Copy spec to form
      </button>
      <p></p>
      {{ template "media-forms" . }}
    </div>
  </div>
{{ end }}

{{ define "media-forms" }}
  <div class="form-group">
    <label>Title</label>
    <input id="media-title" type="text" class="form-control title"></input>
  </div>
  <div class="form-group">
    <label>Subtitle</label>
    <input id="media-subtitle" type="text" class="form-control subtitle"></input>
  </div>
  <div class="form-group">
    <label for="new-url">Content URL</label>
    <textarea id="media-content" class="form-control url content"></textarea>
  </div>
  <div class="form-group">
    <label for="subtitles">Subtitles URL</label>
    <textarea id="media-subtitles" class="form-control url subtitles"></textarea>
  </div>
  <div class="form-group">
    <label for="subtitles">Poster URL</label>
    <textarea id="media-poster" class="form-control url poster"></textarea>
  </div>
{{ end }}
